body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #5f968e;
}

.header {
    height: 10%;
}

.container {
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.style-container {
    padding: 10px;
    margin: 30px;
    /*border: 6px double #d5c9b1 !important;*/
    border: 6px double #5b5b5b !important;
    text-align: center;
    font-size: x-large;
    /*background-color: #242f4a;*/
    background-color: #e05858;
    background-size: 100% 100%;
    color: #d5c9b1;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 20px 50px #343434;
}


form {
    height: 100%;
    width: 100%;
}

.input-name, .cat-form-submit {
    margin: 5px;
    padding: 5px;
    /*background-color: darkslategrey;*/
    background-color: #d5c9b1;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: #033e18;
    font-size: large;
}

.input-name {
    width: 50%;
}

.cat-form-submit {
    cursor: pointer !important;
    width: 20%;
}


.create-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin: 30px 0;
    text-align: center;
    font-size: large;
    background-size: 100% 100%;
    color: #bfdccf;
    height: 150px;
    width: 300px;
    border-radius: 5px;
}

.category-form {
    margin: 5px;
    padding: 5px;
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.new-category {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color: #d5c9b1;
    background-color: #e05858;
    /*background: url("http://localhost:8082/image/plus.png") no-repeat;*/
    background-size: 100% 100%;
    border: 6px double #5b5b5b !important;
}

.new-category:hover {
    background-color: #dd4545;
}

.new-category-container {
    height: 30%;
    width: 100%;
}

#create-submit:hover {
    color: #3c3a3a;
}

.edit-btn {
    height: 30%;
    width: 30%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    /*top: 10%;*/
    bottom: 3px;
    color: #d5c9b1;
    background-color: #e05858;
    border: 6px double #5b5b5b !important;
}

.edit-btn:hover {
    background-color: #dd4545;
}

.style-text {
    position: relative;
    color: #d5c9b1;
    background-color: #e05858;
    height: 100%;
    width: 100%;
    font-size: large;
    border: none;
    cursor: pointer;
    /*top: 25%;*/
    text-align-all: center;
    text-shadow: 2px 2px 4px #626262;
    font-family: custom;
    /*text-shadow: 0 0 3px #fffbfb, 0 0 5px #111111;*/
}

.submit-btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #1e1d1d;
    opacity: 1;
}
