<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/categories.css">
</head>
<body>
<div class="header"></div>
<div class="container">
    <div class="style-container" th:each="category : ${categories}">
        <form class="style-container-form" th:action="@{/user/category}" method="post">
            <button type="submit" class="style-text" th:text="${category.getTopic()}"></button>
            <input type="hidden" th:value="${category.getId()}" name="categoryId">
            <div class="category-is-general" th:text="${category.getIsGeneral()}" style="display: none"></div>
        </form>
        <form class="edit-btn-form" th:action="@{/category/edit}" method="get">
            <input type="hidden" th:value="${category.getId()}" name="categoryId">
            <button class="edit-btn" type="submit">Edit</button>
        </form>
    </div>
    <div class="create-category">
        <div class="new-category-container">
            <button onclick="showForm()" class="new-category">New</button>
        </div>
        <form method="post" class="category-form" id="cat-form" th:action="@{/category}">
            <input class="input-name" type="text" placeholder="Category Name" name="categoryName">
            <input type="submit" class="cat-form-submit" id="create-submit" value="Add">
        </form>
    </div>
</div>

<script>
    var x = document.getElementById("cat-form");
    x.style.display = 'none';
    addEditBtn();

    function showForm() {
        var form = document.getElementById("cat-form");
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }

    function addEditBtn() {
        var editBtns = document.getElementsByClassName("edit-btn")
        var catgories = document.getElementsByClassName("category-is-general");

        for (i = 0; i < catgories.length; i++) {
            var isGeneral = catgories[i].innerHTML;
            if (isGeneral === 'true') {
                editBtns[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>
