<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Here</title>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/edit-category.css">
</head>
<body>
<script>
    $(document).ready(function () {
        $("#table tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            const value = $(this).find('td:first').html();
            console.log(value);
            $(".quotationId").val(value);
        });
    })
</script>
<div class="main-container">
    <div class="title">
        <div class="title-content" th:text="${category.getTopic()}"></div>
    </div>
    <div class="search-container">
        <form class="new-qoute-form" th:action="@{/category/addQuote}" method="post">
            <input class="input-name" type="text" placeholder="Quote" name="quotation">
            <input name="categoryId" type="hidden" th:value="${category.getId()}">
            <input class="cat-form-submit" type="submit" value="Add">
        </form>
    </div>
    <form th:action="@{/category/deleteQoute}" class="delete-category-form">
        <input type="hidden" name="quoteId" class="quotationId" value="0">
        <input name="categoryId" type="hidden" th:value="${category.getId()}">
        <button class="delete-btn" type="submit">Delete</button>
    </form>
    <div class="main-table">
        <table id="table">
            <tr th:each="quote : ${quotations}">
                <td th:text="${quote.getId()}" name="quoteId" style="display: none"></td>
                <td class="main-td" th:text="${quote.getQuote()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>