<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<div class="header">

</div>
<div class="container">
    <form class="style-container" th:each="style : ${pageStyleList}"
          th:style="'background-image:url(' + ${style.getBackgroundImage()} + '); color:'+${style.getFontColor()}+';'"
          th:action="@{/user/style}"
          method="post">
        <div class="style-text" th:style="'font-family:'+${style.getFontFile()}+';'">من هستم</div>
        <input type="hidden" th:value="${style.getId()}" name="styleId">
        <button type="submit">
        </button>
    </form>

</div>
</body>
</html>